---
import CompC from "../components/solidjs/CompC";
import MultiColumn from "../components/template/layouts/threeColumns.astro";
import LeftMenu from "../components/template/widgets/panels/LeftMenu.astro";
import VirtualPage from "./virtualPage.astro";
---

<!-- <LeftMenu /> -->
<div class="">
  <LeftMenu class="w-full" />
</div>
