<div class="max-w-7xl grow lg:flex xl:px-2">
  <!-- Left sidebar & main wrapper -->
  <div class="flex-1 xl:flex">
    <div
      class="border-b border-gray-200 xl:w-64 xl:shrink-0 xl:border-b-0 xl:border-r"
    >
      abc
    </div>

    <div class="xl:flex-1">
      <!-- Main area -->
      bcd
    </div>
  </div>

  <div class="shrink-0 border-t border-gray-200 lg:border-l lg:border-t-0">
    efg
  </div>
</div>
